[submodule "dailyblog/themes/hugo-refresh"]
	path = dailyblog/themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "dailyblog/public"]
	path = dailyblog/public
	url = https://github.com/dailypr/dailypr.github.io.git
	branch = master
